# 2. Creating Basket Data + DTM Data

The purpose of this notebook is to generate basket data, which is good for clusering and association roles mining. The desired shape of the table has each row is a document, and the columns are the individual words. Finally, the output will be in a csv format.

The data used in this notebook are from the Count Vectorizer. This is used so that the values in the CountVectorizer can be converted to binary, and then the row can be cleaned.

## 1. Environment Creation

### 1.1 Library Import

In [1]:
import pandas as pd
import os
from tqdm.notebook import tqdm
import csv

### 1.2 Data Import

In [33]:
bill_information = pd.read_csv(r"C:\Users\natal\OneDrive\university\info 5653\data\Bills Lemmed- Count Vectorizer.csv")

In [34]:
bill_information.head(2)

,Unnamed: 0,Bill Type,Sponser Affiliation,Sponser State,Committees,aa,aaa,aarhu,ab,abandon,...,zoe,zone,zonea,zonesnotwithstand,zoneth,zoo,zoolog,zoonot,zooplankton,zquez
0,0,hr,D,HI,"House - Natural Resources, Agriculture | Senat...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,hr,R,NY,House - Agriculture,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [2]:
news = pd.read_csv(r"C:\Users\natal\OneDrive\university\info 5653\data\News Articles Lemmed- Count Vectorizer.csv")

In [5]:
news.head(2)

,Unnamed: 0,Party,publisher,aapi,abandon,abandoned,abc,ability,able,abolish,...,yes,york,young,youth,zealot,zeldin,zero,zers,zone,zuckerberg
0,0,Republican,The Verge,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,Republican,Gizmodo.com,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
party_platform = pd.read_csv(r"C:\Users\natal\OneDrive\university\info 5653\data\Party Platform Lemmed- Count Vectorizer.csv")

In [7]:
party_platform.head(2)

,Unnamed: 0,Party,ability,able,abortion,access,accessible,according,accountability,accountable,...,won,word,work,worker,working,world,worship,worst,year,young
0,0,Republican,1,1,1,4,1,1,1,4,...,1,1,4,15,2,15,2,1,7,7
1,1,Democrat,7,13,13,72,15,1,6,14,...,10,1,101,79,81,69,4,4,149,10

### 1.2.2 Light Data Cleaning

The data utilized in this notebook has already undergone extensive cleaning processes, which may be viewed on [my project page](https://nataliermcastro.github.io/projects/2025/01/14/political-stances-data.html). In this section, the labels will be removed and the unnamed column will be dropped.

In [35]:
bill_information.drop(columns=['Unnamed: 0','Sponser State','Bill Type','Sponser Affiliation','Committees'],inplace=True)

In [36]:
bill_information.drop(columns=['helvetica','noto','sego','neue','vh','html','webkit','emoji','blinkmacsystemfont','arial','roboto','ui','serif',
                              'column','font','pad','width','auto','left','height'],inplace=True)

In [3]:
news.drop(columns=['Unnamed: 0','Party','publisher'],inplace=True)

In [23]:
party_platform.drop(columns=['Unnamed: 0','Party'],inplace=True)

## 2. Creating Basket Data

### 2.1 Assembling the Transactions

In [28]:
def transaction_creator(index,basket):
    transcation_dictionary = {key:val for key, val in basket[index].items() if val != 0.0}
    items = list(transcation_dictionary.keys())
    return (items)

In [37]:
news_basket = news.to_dict(orient='records')
bills_basket = bill_information.to_dict(orient='records')
party_basket = party_platform.to_dict(orient='records')

In [38]:
baskets = [news_basket,bills_basket,party_basket]

In [39]:
transactions = []

for current_basket in baskets:
    for index in tqdm(range(0,len(current_basket)),desc='üõíüêõ... | inching through the store'):
        transactions.append(transaction_creator(index,current_basket))

üõíüêõ... | inching through the store:   0%|          | 0/820 [00:00<?, ?it/s]

üõíüêõ... | inching through the store:   0%|          | 0/3261 [00:00<?, ?it/s]

üõíüêõ... | inching through the store:   0%|          | 0/2 [00:00<?, ?it/s]

In [57]:
## And checking to make sure it worked...
transactions[0]

['ai',
 'backing',
 'billionaire',
 'day',
 'donald',
 'electric',
 'ha',
 'impacting',
 'industry',
 'news',
 'office',
 'policy',
 'president',
 'taking',
 'tech',
 'tiktok',
 'time',
 'trump',
 'vehicle']

### 2.2 Saving the Basket Data

In [40]:
''' WRITING TO A CSV '''

with open('Basket Data.csv', 'w', newline='\n') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerows(transactions)

## 3. Creating Document Term Matrix Data

In [41]:
dtm_df = pd.concat([bill_information,news, party_platform])

In [42]:
dtm_df.head()

,aa,aaa,aarhu,ab,abandon,abandonth,abat,abbrevi,abercrombi,abey,...,universal,unjustly,unlawful,unnecessary,upholding,various,vigorously,violate,weakened,whistleblower
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
dtm_df = dtm_df.fillna(0)

In [49]:
dtm_df.reset_index(inplace=True,drop=True)

In [50]:
dtm_df.head(1)

,aa,aaa,aarhu,ab,abandon,abandonth,abat,abbrevi,abercrombi,abey,...,universal,unjustly,unlawful,unnecessary,upholding,various,vigorously,violate,weakened,whistleblower
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [51]:
dtm_df.to_csv("Document Term Matrix.csv")